html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;

  font-family: "Abril Fatface", cursive;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

body {
  background-color: #0d1017;

  background: linear-gradient(
    128deg,
    rgba(7, 37, 65, 1) 0%,
    rgba(13, 16, 23, 1) 25%,
    rgba(7, 9, 14, 1) 100%
  );
  box-sizing: border-box;
}

/* ------------ HEADER ------------ */

#header {
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(70px);
  /* padding: 24px 360px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 4em;
  align-items: center;
  align-content: center;
}

.pageLogo {
  height: 20px;
  vertical-align: middle;
}

.pageLogo:hover {
  transform: rotate(10deg);
}

.navbar li {
  display: inline-block;
}

.navbar .navlink {
  text-decoration: none;
  padding: 24px 40px;
}

.navbar .navlink:hover {
  background-color: #fca326;
  color: #0d1017;
  padding: 24px 40px;
}

.navbar ul {
  float: right;
}

.navbar {
  display: flex;
  gap: 8em;
  align-items: center;
}

/* -------------SOCIAL MEDIA ----------- */

.socialMedia {
  position: fixed;
  z-index: 4;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  left: 230px;
  bottom: 15em;
  text-align: right;
  padding: 10px;
}

.smAsset {
  width: 30px;
  border-radius: 4px;
  margin: 8px 0;
  padding: 2px;
  border: 2px solid transparent;
}

.smAsset:hover {
  border: 2px solid #fca326;
}

/* -------------- INTRO PAGE -------------- */

.intro {
  height: 100%;
  position: relative;
}

#introPage {
  height: 100vh;
}

#introPage h1 {
  font-size: 158px;
  font-weight: 100;
  font-family: "Abril Fatface", cursive;
  margin: 0;
}

.intro p {
  width: 360px;
  line-height: 34px;
}

.introContent {
  position: fixed;
  z-index: -1;
  padding: 0 420px;
  height: 100vh;
  width: 60%;
}

.resumeButton {
  margin-top: 60px;
}

.resumebttn {
  /* z-index: 5; */
  position: fixed;
  top: 370px;
  left: 420px;
}

.resumeButton,
.formSubmit {
  display: block;
  width: 150px;
  height: 40px;
  border: 1px solid #fca326;
  border-radius: 5px;
  background-color: #0d1017;
  color: #fca326;
  font-size: 15px;
  font-weight: 700;
}

.resumeButton:hover,
.formSubmit:hover {
  background-color: #fca326;
  color: #0d1017;
}

.welcomePhoto {
  position: absolute;
  right: 5px;
  height: 100%;
}

.landingPage {
}

.mouseScroll {
  position: absolute;
  bottom: 231px;
  left: 144px;
  height: 108px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* -------------- SKILL PAGE -------------- */

#skillPage {
  background-color: #072541;
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  justify-content: center;
}

/* .skillIcon {

  height: 50px;
  margin: 20px;
  padding: 22px;
  border-radius: 5px;
  border: 1px solid transparent;
} */

.skill-icon {
  width: 5em;
  margin: 1.4em 0.1em;
  border-radius: 5px;
  border: 1px solid transparent;
}

.skill-icon:hover {
  transform: scale(120%);
}

/* .icon-name {
  font-size: 0.3em;
} */
.skill-icon img {
  height: 3em;
}

/* .skillIcon:hover {
  background-color: #072541;
  border: 1px solid #fca326;
  transform: scale(150%);
} */

#skillPage,
#projectPage,
#contactPage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.skillContent h2,
.projectContent h2,
#contactPage h2 {
  font-size: 3em;
}

/* -------------- BLOG PAGE -------------- */

#blogPage {
  display: block;
  position: relative;
  z-index: 3;
  background: rgba(7, 9, 14, 1) 100%;
}

.blogContent {
  display: flex;
  margin: 0 20px;
}

.blogText {
  background-color: #fca326;
  bottom: 0;
  line-height: 24px;
  position: absolute;
  padding: 40px 20px;
}

.blogPost {
  position: relative;
  box-sizing: border-box;

  height: 100vh;
  width: auto;
  flex: 1;
  margin: 0 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.post1 {
  background-image: url(Assets/img/img1.jpg);
}

.post2 {
  background-image: url(Assets/img/img2.jpg);
}

.post3 {
  background-image: url(Assets/img/img3.jpg);
}

.blogPost img {
  filter: grayscale(100);
}

.post1:hover,
.post2:hover,
.post3:hover {
  filter: grayscale(0);
}

/* -------------- PROEJCT PAGE -------------- */

.skillContent,
.projectContent {
  max-width: 500px;
  text-align: center;
  /* font-size: 60px; */
}

#projectPage {
  height: 50vh;
  z-index: 3;
  position: relative;
  background-color: #072541;
}

.projectContainer {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  gap: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.projectContainer .project {
  flex: 1;
  background-color: #afafaf;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
}

.project p {
  color: #8b8b8b;
}

.project {
  display: flex;
  height: 240px;
  width: 320px;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
}

/* -------------- CONTACT PAGE -------------- */

.contactForm {
  padding: 40px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1em;
}

#contactPage input[type="text"] {
  background-color: #0d1017;
  border: 0;
  border-bottom: 1px solid #afafaf;
  padding: 1.5em 1em;
  margin: 1em;
  width: 100%;
  display: block;
}

#contactPage {
  display: flex;
  /* gap: 50px; */
  background: linear-gradient(
    318deg,
    rgba(7, 37, 65, 1) 0%,
    rgba(13, 16, 23, 1) 25%,
    rgba(7, 9, 14, 1) 100%
  );
  flex-direction: column;
}

.formSubmit {
  margin: 2em 0;
}

/* -------------- FOOTER PAGE -------------- */

.footerSocialImages img {
  width: 40px;
  border-radius: 5px;
  margin: 0px 5px;
}

.footerSocialImages p {
  font-size: 1.5em;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: #07090e;
}

footer p {
  color: #6b6b6b;
  margin-top: 1em;
}

@media (max-width: 480px) {
  #introPage {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100vw; */
    height: 680px;
  }

  .introContent {
    /* background-color: red; */
    width: 100%;
    padding: 0;
    height: inherit;
  }

  .navbar {
    gap: 0;
  }

  .intro {
    /* position: unset; */
    padding: 0 1em;
    /* height: 680px;*/
  }

  #header {
    padding: 1em;
  }

  .navbar ul {
    visibility: hidden;
  }

  .socialMedia {
    visibility: hidden;
  }

  .welcomePhoto {
    bottom: 0;
    height: 16em;
    right: 1em;
  }

  .intro p {
    width: unset;
  }

  .mouseScroll {
    bottom: 3em;
    left: 3em;
  }

  .skillContent,
  .projectContent {
    /* font-size: 2em; */
    padding: 2em 0;
  }

  #skillPage {
    height: unset;
  }

  #blogPage {
    display: block;
    background: rgba(7, 9, 14, 1) 100%;
  }

  .blogText {
    font-size: smaller;
    height: 5em;
    padding: 1em;
    overflow: hidden;
  }

  .blogContent {
    display: block;
  }

  .blogPost {
    height: 22em;
    /* margin-bottom: 1em; */
  }

  .projectContainer {
    transform: unset;
    position: unset;
    width: unset;
    height: unset;
    /* display: flex; */
    flex-wrap: wrap;
    width: 320px;
    margin: auto;
  }

  .projectContainer .project {
    width: 100px;
    height: 100px;
  }

  .contactForm {
    width: unset;
  }

  #contactPage {
    gap: 0;
    height: 680px;
  }

  .footerSocialImages {
    text-align: center;
  }

  .resumebttn {
    left: 1em;
  }

  .project {
    font-size: 10px;
  }

  .skillContent h2,
  .projectContent h2,
  #contactPage h2 {
    /* font-size: 1em; */
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #introPage {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100vw; */
    height: 680px;
  }

  .introContent {
    /* background-color: red; */
    width: 100%;
    padding: 0;
    height: inherit;
  }

  .navbar {
    gap: 0;
  }

  .intro {
    /* position: unset; */
    padding: 0 1em;
    /* height: 680px;*/
  }

  #header {
    padding: 1em;
  }

  .navbar ul {
    visibility: hidden;
  }

  .socialMedia {
    visibility: hidden;
  }

  .welcomePhoto {
    bottom: 0;
    height: 16em;
    right: 1em;
  }

  .intro p {
    width: unset;
  }

  .mouseScroll {
    bottom: 3em;
    left: 3em;
  }

  .skillContent,
  .projectContent {
    /* font-size: 2em; */
    padding: 2em 0;
  }

  #skillPage {
    height: unset;
  }

  #blogPage {
    display: block;
    background: rgba(7, 9, 14, 1) 100%;
  }

  .blogText {
    font-size: smaller;
    height: 5em;
    padding: 1em;
    overflow: hidden;
  }

  .blogContent {
    display: block;
  }

  .blogPost {
    height: 22em;
    /* margin-bottom: 1em; */
  }

  .projectContainer {
    transform: unset;
    position: unset;
    width: unset;
    height: unset;
    /* display: flex; */
    flex-wrap: wrap;
    width: 320px;
    margin: auto;
  }

  .projectContainer .project {
    width: 100px;
    height: 100px;
  }

  .contactForm {
    width: unset;
  }

  #contactPage {
    gap: 0;
    height: 680px;
  }

  .footerSocialImages {
    text-align: center;
  }

  .resumebttn {
    left: 1em;
  }

  .project {
    font-size: 10px;
  }

  .skillContent h2,
  .projectContent h2,
  #contactPage h2 {
    /* font-size: 1em; */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #introPage {
    /* background-color: red; */
    padding: 0 3em;
    height: 820px;
  }

  .introContent {
    /* background-color: red; */
    width: 100%;
    padding: 0;
    height: inherit;
  }

  #skillPage {
    height: unset;
  }

  .skillContent,
  .projectContent {
    /* font-size: 2em; */
    padding: 2em 0;
  }

  .welcomePhoto {
    bottom: 0;
    height: 40em;
    right: 1em;
  }

  .mouseScroll {
    /* bottom: 3em; */
    left: 3em;
  }

  .socialMedia {
    visibility: hidden;
  }

  .resumebttn {
    left: 4em;
  }

  .welcomePhoto {
    height: 33em;
    right: 5em;
  }

  .intro p {
    /* width: 307px; */
  }

  .navbar .navlink {
    text-decoration: none;
    padding: 1em;
  }

  .navbar .navlink:hover {
    padding: 1em;
  }

  .blogPost {
    height: 60em;
  }

  .projectContainer {
    transform: unset;
    position: unset;
    width: unset;
    height: unset;
    /* display: flex; */
    flex-wrap: wrap;
    /* width: 320px; */
    margin: auto;
  }

  .projectContainer .project {
    width: 200px;
    height: 200px;
  }

  .projectContent {
    max-width: max-content;
    padding: 0 2em;
  }
}

@media (min-width: 901px) and (max-width: 1440px) {
  .introContent {
    /* background-color: red; */
    /* width: 100%; */
    padding: 0 18em;
    /* height: inherit; */
    height: 880px;
  }

  .welcomePhoto {
    bottom: 0;
    height: 46em;
    right: 1em;
  }

  .socialMedia {
    left: 8em;
  }

  .resumebttn {
    left: 18em;
  }
}
