html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  /* padding: 0; */
  font-family: "Abril Fatface", cursive;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

body {
  background-color: #0d1017;
  /* background-image: url(/Assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: rgb(9,9,121); */
  background: linear-gradient(
    128deg,
    rgba(7, 37, 65, 1) 0%,
    rgba(13, 16, 23, 1) 25%,
    rgba(7, 9, 14, 1) 100%
  );
}

/* ------------ HEADER ------------ */

#header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(70px);
  padding: 24px 360px;
  box-sizing: border-box;
  
}

.pageLogo {
  height: 20px;
  vertical-align: middle;

 
}



.navbar li {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar a {
  text-decoration: none;
  
}

.navbar li:hover {
  /* border-bottom: 2px solid #fca326; */
  background-color: #fca326;
}

.navbar ul {
  float: right;
}


/* -------------SOCIAL MEDIA ----------- */

.socialMedia {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  left: 230px;
  bottom: 94px;
  text-align: right;
  padding: 10px;
}

.smAsset{
  width: 30px;
  border-radius:4px;
  margin: 8px 0;
  padding: 2px;
  border: 2px solid transparent;
}

.smAsset:hover {
  border: 2px solid #fca326;
}

/* .hoverText {
  position: absolute;
} */

/* -------------- INTRO PAGE -------------- */

.intro {
  height: 100%;
  position: relative;
}

#introPage {
  /* padding: 0 420px; */
  height: 100vh;
  /* position: fixed; */
  /* z-index: -1; */
}

#introPage h1 {
  font-size: 158px;
  font-weight: 100;
  font-family: "Abril Fatface", cursive;
  margin: 0;
}

.intro p {
  width: 360px;
  line-height: 24px;
}

.introContent {
  /* position: fixed; */
  /* z-index: -1; */
  padding: 0 420px;
  height: 100vh;
}

.resumeButton {
  margin-top: 60px;
}

.resumeButton,
.formSubmit {
  display: block;
  width: 150px;
  height: 40px;
  border: 1px solid #fca326;
  border-radius: 5px;
  background-color: #0d1017;
  color: #fca326;
  font-size: 15px;
  font-weight: 700;
}

.resumeButton:hover,
.formSubmit:hover {
  background-color: #fca326;
  color: #0d1017;
}

.welcomePhoto {
  position: absolute;
  right: 5px;
  height: 100%;
}

.mouseScroll {
  position: absolute;
  bottom:  231px;
  left: 144px;
  height: 108px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* -------------- SKILL PAGE -------------- */

#skillPage {
  background-color: #072541;
}

.skillIcon {
  /* fill: #fca326; */
  height: 50px;
  margin: 20px;
  padding: 22px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.skillIcon:hover {
 background-color: #072541;
 border: 1px solid #fca326;
 transform: scale(150%);
}

#skillPage,
#projectPage,
#contactPage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



/* -------------- BLOG PAGE -------------- */

#blogPage {
  display: inline;
}

.blogContent {
  display: flex;
  margin: 0 20px;
}

.blogText {
  background-color: #fca326;
  bottom: 0;
  line-height: 24px;
  position: absolute;
  padding: 40px 20px;
}

.blogPost {
  position: relative;
  box-sizing: border-box;
  /* border: 1px solid white; */
  height: 100vh;
  width: auto;
  flex: 1;
  margin: 0 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.post1 {
  background-image: url(Assets/img/img1.jpg);
}

.post2 {
  background-image: url(Assets/img/img2.jpg);
}

.post3 {
  background-image: url(Assets/img/img3.jpg);
}

.blogPost img {
  filter: grayscale(100);
}

/* -------------- PROEJCT PAGE -------------- */

.skillContent,
.projectContent {
  max-width: 500px;
  text-align: center;
  font-size: 60px;
}

#projectPage {
  background-color: #072541;
}

#projectPage {
  position: relative;
}

#projectPage {
  height: 50vh;
}

.projectContainer {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  gap: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.projectContainer .project {
  flex: 1;
  background-color: #afafaf;
  color: #8b8b8b;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
}

/* -------------- CONTACT PAGE -------------- */

.contactForm {
  padding: 40px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  width: 500px;
}

#contactPage input[type="text"] {
  background-color: #0d1017;
  border: 0;
  border-bottom: 1px solid #afafaf;
  padding: 5px 10px;
  margin: 40px 0px;
  width: 220px;
  display: block;
}

#contactPage {
  display: flex;
  gap: 50px;
}

/* -------------- FOOTER PAGE -------------- */

.footerSocialImages img {
  /* background-color: aqua; */
  width: 40px;
  border-radius: 5px;
  margin: 0px 5px;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: #07090e;
}
